<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-auth.html">
<!--link rel="import" href="../../bower_components/iron-icon/iron-icon.html"-->
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="firebase-signin">
    <template>
        <style>
            :host {
                display: block;
            }

            .acctCircle{

                --iron-icon-height: 32px;
                --iron-icon-width: 32px;
            }

             iron-selector > section {
                margin-top: 56px;
                min-height: 220px;
              }

              iron-selector section:not(.iron-selected) {
                display: none;
              }

            #page-splash{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #0288D1;
                background: radial-gradient(circle, #039BE5, #01579b);
                z-index: 10000;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                flex-direction: column;
            }

            h1{
                font-weight:normal;
                font-size:56px;
            }

            .loader {
                font-size: 14px;

                @apply(--layout-vertical);
                @apply(--layout-center-center);
            }

            .text-center{
                text-align: center;
            }

            paper-spinner-lite.orange {
                --paper-spinner-color: var(--google-yellow-500);
            }
        </style>
            <firebase-auth id="auth" user="{{user}}" provider="google" on-error="handleError" on-verify="_checkUser"></firebase-auth>  
            
            <iron-selector id = "selector" selected="load" attr-for-selected="name">
                <section name="form">
                    <div id = "page-splash">  
                    
                        <h1><iron-image src= "http://localhost:8080/images/icon2.png" style="width:70px;height:70px; margin-bottom:-12px; margin-right:-15px;" sizing="contain"></iron-image> N E E D Y</h1>
                        <paper-button raised on-tap = "_signIn"><iron-icon src= "http://localhost:8080/images/account-circle.png" ></iron-icon> &nbsp;&nbsp;Sign-in with google</paper-button>
                    </div>
                </section>

                <section name="load">
                    <div class="text-center" id = "page-splash">
                        <paper-spinner class = "orange" active></paper-spinner>
                        <div>Verifying your identity...</div>
                    </div>
                </section>
                
            </iron-selector>
    </template>

    <script>
        Polymer({
            is: 'firebase-signin',

            properties: {
                loading: {
                    type: Boolean,
                    notify: true
                },

                loginState: {
                    type: String,
                    value: "load"
                },

                user: {
                    type: Object
                }
            },

            _signIn: function(){
                var _self = this;

                this.$.auth.signInWithPopup('google').
                    then(function(response){
                        new Polymer.IronMeta({
                            type     : 'user',
                            key      : 'authenticated',
                            value   : response.user
                        });

                        _self.fire('signed-in', {me: this, "isSignedIn" : true});
                    }).catch(function(error){
                        console.log(error)
                    })
            }, 

            _signOut: function(){

                this.$.auth.signOut();
                this.$.selector.selected = "load";
                this.fire('signed-in', {me: this, "isSignedIn" : false});
            },

            _handleError: function(error){
                console.log(error);
            },

            _checkUser: function(){
                var self = this;

                if(this.$.auth.user){
                    this.fire('signed-in', {me: this, "isSignedIn" : true});
                }else{
                    window.setTimeout(function(){
                        self.$.selector.selected = "form";
                    }, 2000)
                }
            }, 

            ready: function(){

            }

        });
    </script>
</dom-module>
